<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>317772593697-fa1pmipd203j158a66otbt0htitsj3cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317772593697-fa1pmipd203j158a66otbt0htitsj3cs</string>
	<key>API_KEY</key>
	<string>AIzaSyC1iXcgwZeK8aibX1UproFVO2FK9UZIeW8</string>
	<key>GCM_SENDER_ID</key>
	<string>317772593697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kemetic.yoDJ2</string>
	<key>PROJECT_ID</key>
	<string>yodj2-399a9</string>
	<key>STORAGE_BUCKET</key>
	<string>yodj2-399a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317772593697:ios:5af9863a59064e92</string>
	<key>DATABASE_URL</key>
	<string>https://yodj2-399a9.firebaseio.com</string>
</dict>
</plist>